<button id="filter-current" (click)="filterPages()">✏️</button>
<button id="filter-archived" (click)="filterPages('archived')">🗄</button>

<h1>pages:</h1>

<ul>
  <li *ngFor="let page of pages; trackBy: trackBy">
    {{ page | json }}
    <small>{{ page?.dataId }}</small>

    <a [routerLink]="['/page', page?.id]">{{ page?.name }}</a>
    <button class="archive" (click)="archivePage(page)">🗄</button>
    <button class="remove" (click)="removePage(page)">❌</button>
  </li>
</ul>

<input #add type="text" id="add-page" placeholder="Add Page" (keyup.enter)="addPage(add.value)">
