{{ delta | json }}
<textarea #text value="{{delta | unwrap}}" (keyup)="inputChange(text.selectionStart, $event.key)"></textarea>

<button (click)="formatChange()">format</button>

<div contenteditable="true">
  <ng-container *ngFor="let object of delta?.ops; let i = index"><span class="bold" *ngIf="object?.attributes?.bold; else default" [attr.data-index]="i">{{ object?.insert }}</span><ng-template #default><span [attr.data-index]="i">{{ object?.insert }}</span></ng-template></ng-container>
</div>
