service cloud.firestore {
  match /databases/{database}/documents {
    match /pages/{page} {
      allow create, update: if (!exists(/databases/$(database)/documents/pages/$(page)));
      allow read, delete;
      match /{data=**} {
        allow read, write;
      }
    }
  }
}
