<button *ngFor="let block of baseBlocks?.data" (click)="addBlock(block)">+ {{ block.type }}</button>

<ul>
  <li *ngFor="let block of blocks; let i = index">
    {{ block?.type }}

    <button (click)="orderBlock(i, 'up')">&uarr;</button>
    <button (click)="orderBlock(i, 'down')">&darr;</button>

    <ng-container [ngSwitch]="block?.type">
      <app-text *ngSwitchCase="'text'" [block]="block"></app-text>
      <app-image *ngSwitchCase="'image'" [block]="block"></app-image>
    </ng-container>

    <button (click)="removeBlock(block)">&times;</button>
  </li>
</ul>
