<button #add *ngFor="let block of baseBlocks?.data" (click)="addBlock(block)">+ {{ block.type }}</button>

<ul>
  <li *ngFor="let block of blocks; let i = index">

    <button #up (click)="orderBlock(i, 'up')">{{block?.type}}&uarr;</button>
    <button #down (click)="orderBlock(i, 'down')">&darr;</button>

    <b>{{ block?.type }}</b>

    <ng-container [ngSwitch]="block?.type">
      <app-text *ngSwitchCase="'text'" [block]="block"></app-text>
      <app-image *ngSwitchCase="'image'" [block]="block"></app-image>
    </ng-container>

    <button #remove (click)="removeBlock(block)">&times;</button>
  </li>
</ul>
