<button class="add-block" id="add-{{block?.type}}" *ngFor="let block of baseBlocks?.data" (click)="addBlock(block)">+ {{ block.type }}</button>

<ul *ngIf="blocks.length > 0">
  <li *ngFor="let block of blocks; let i = index">

    <button #up (click)="orderBlock(i, -1)">&uarr;</button>
    <button #down (click)="orderBlock(i, 1)">&darr;</button>

    <b>{{ block?.type }}</b>

    <button #remove (click)="removeBlock(block)">&times;</button>

    <div [ngSwitch]="block?.type">
      <app-text *ngSwitchCase="'text'" [block]="block" class="switch-block"></app-text>
      <app-image *ngSwitchCase="'image'" [block]="block" class="switch-block"></app-image>
    </div>

  </li>
</ul>
