<input #pageInput type="text" value="{{ page?.name }}" (keyup.enter)="updatePage(pageInput.value)"><button (click)="removePage()">&times;</button>

<h1>{{ page?.name }}</h1>

<button *ngFor="let block of blocks?.data" (click)="addBlock(block)">+ {{ block.type }}</button>

<ul>
  <li *ngFor="let block of page?.data">
    {{ block?.type }}

    <ng-container [ngSwitch]="block?.type">
      <app-text *ngSwitchCase="'text'" [block]="block"></app-text>
      <app-image *ngSwitchCase="'image'" [block]="block"></app-image>
    </ng-container>

    <button (click)="removeBlock(block)">&times;</button>
  </li>
</ul>
